.login-container {
    height: 100%;
    width: 100%;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    top: 15%;
    transform: translateY(25%);
  }
  
  form {
    width: 100%;
  }
  
  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .login-toolbar {
    justify-content: center;
    background:#3172A9;
  }
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .mat-raised-button {
    width: 100%;
    margin-top: 15px;
  }
  .loginBtnCdf{
      background: #3172A9;
      color: #ffffff;
  }
  .loginDheyaEmailBtn{
      background: #449A44;
      color: #ffffff;
  }
  .customRow{
      margin-top: 10px;
  }

  .fixed-background {
    background: url("/assets/balloon.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .orDiv{
    text-align: center;
    padding: 10px;
  }
  .signUpDiv{
    text-align: center;
    cursor: pointer;
  }
  .signUpText{
    color: #3172A9;
    font-weight: 500;
  }

  