.btn-outline-primary {
  color: black;
  border-color: skyblue;
  border-radius: 7px;
  padding: 7px 15px;
  border-radius: 50px;
  outline: initial!important;
  box-shadow: none!important;
  font-size: .8rem;
  padding: .5rem 1.25rem;
  
    &:hover {
      color:white;
      background-color: skyblue;
      border-color: skyblue;
    }
  }

  .table .thead-light th {
    background-color: lightgray !important;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd3b;
  }

  html{
    background: #d3d3d330;
  }